.board {
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 100%;
    background-color: var(--bgCardGameBoard);
    border-radius: 30px;
    padding:  20px 20px 20px 20px;
    box-sizing: border-box;
    .board_letters {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        gap: 8px;
        .board_letter {
            aspect-ratio: 1 / 1;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 16px;
            font-size: 60px;
            font-weight: bold;
            color: var(--whiteColor);
            font-family: "BBH-Hegarty", sans-serif;
            text-shadow: 4px 4px 6px rgba(0, 0, 0, .5);
        }
    }
}

.board_row {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 10px;
}

.board_cell {
    aspect-ratio: 1 / 1;

    display: flex;
    align-items: center;
    justify-content: center;

    background: var(--bgCellsItemsBoard);
    border-radius: 6px;

    font-size: 20px;
    font-weight: bold;

    cursor: pointer;
    user-select: none;

    transition: .2s;
}

.board_cell.ingame {
    border: 5px solid rgb(202, 153, 6) !important;
    background-color: rgb(243, 212, 118) !important;
}
.board_cell.ingame.marked {
    border: 5px solid rgba(13, 154, 85, 1) !important;
    background-color: rgb(54, 216, 138) !important;
}

.board_cell.marked {
    border: 5px solid rgba(208, 31, 30, 1) !important;
    background-color: rgb(238, 80, 80) !important;
}

@media screen and (max-width: 450px) {
    .board {
        .board_letters {
            .board_letter {
                font-size: 50px;
            }
        }
    }
}