<div class="section_timer_countdown">
    @if (isViewInfoBall) {
        <div class="time">
            {{ timer() }}
        </div>
    }

    <div class="header_digital_mode">
        <div class="section_digital_mode">
            <p>Modo digital</p>
        </div>
    </div>

    <div class="countdown">
        <svg width="140" height="140">
            <circle
                class="background"
                cx="70"
                cy="70"
                [attr.r]="radius"/>
            <circle
                class="progress"
                cx="70"
                cy="70"
                [attr.r]="radius"
                [style.stroke-dasharray]="circumference"
                [style.stroke-dashoffset]="getStrokeOffset()"/>
        </svg>
        <div class="ball_information">
            @if (isViewInfoBall) {
                <h3 class="letter_ball">{{ currentBall.letter }}</h3>
                <h1 class="number_ball">{{ currentBall.number }}</h1>
            }
        </div>
    </div>
</div>