<app-header></app-header>

<app-circle-count-down [seconds]="timerChangeBall" [trigger]="0"></app-circle-count-down>

<div class="content_game">
    <div class="board_game">
        <app-tablero-bingo></app-tablero-bingo>
    </div>

    <div class="sections_actions">
        <button class="btn primary_button" (click)="validateBoard()">¡Cantar Bingo!</button>
    </div>
</div>

@if (isViewInitialGame) {
    <div class="initial_timer_load">
        <app-count-down-overlay-game></app-count-down-overlay-game>
    </div>
}


@if (isValidateBoard) {
    <app-verify-game-results [player]="playerLastUpdateGame" [board]="boardLastUpdateGame"></app-verify-game-results>
}