.section_version {
    margin: 35px 0;
    .version {
        text-transform: uppercase;
        text-align: center;
        font-weight: 600;
        color: var(--colorText);
        font-size: 12px;
    }
}