/* You can add global styles to this file, and also import other style files */
@use 'fonts';


:root {
    --primaryColor: #FFD700;
    --primaryColorWeight: #705E00;
    --primaryColorWeightRGB: 112, 94, 0;
    --secondaryColor: #8333C6;
    --secondaryColorWeight: #5A1F8C;

    --backgroundApp: #FEF7FF;


    // INPUTS
    --colorInputs: #CD91FF;

    --grayBordersSections: #E5E7EB;
    --grayBorders: #EBDCFF;

    // BACKGROUNDS
    --bgInfoSections: 139, 240, 136;
    --bgKeyboard: #F5EAFF;

    // COLORS
    --whiteColor: #FFFFFF;
    --blackColor: #000000;
    --greenColor: #006E1C;

    // TEXTOS
    --colorText: #4D4732;
    --colorTextWeight: #705D00;
    --colorTitles: #231043;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'FontWeb', sans-serif;
    background-color: var(--backgroundApp);
}


// FORMS
.form_group {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 10px 0;
    label {
        font-weight: bold;
        font-size: 14px;
        color: var(--secondaryColor);
    }
    input {
        border: 2px solid var(--colorInputs);
        border-radius: 6px;
        height: 45px;
        padding-left: 15px;
        font-family: 'FontWeb', sans-serif;
    }
    
}


// BUTTONS
.btn {
    height: 60px;
    border-radius: 9999px;
    border: 0;
    text-transform: uppercase;
    font-size: 24px;
    cursor: pointer;
}
.primary_button {
    padding: 0 20px;
    position: relative;
    background-color: var(--primaryColor);
    -webkit-box-shadow: 0px 4px 0px 0px var(--colorTextWeight); 
    box-shadow: 0px 4px 0px 0px (--colorTextWeight);
}
.secondary_button {
    position: relative;
    color: var(--whiteColor);
    background-color: var(--secondaryColor);
    -webkit-box-shadow: 0px 4px 0px 0px var(--secondaryColorWeight); 
    box-shadow: 0px 4px 0px 0px var(--secondaryColorWeight);
}