/* You can add global styles to this file, and also import other style files */
@use 'fonts';


:root {
    --primaryColor: #FFD700;
    --primaryColorLight: 255, 215, 0;
    --primaryColorWeight: #705E00;
    --primaryColorWeightRGB: 112, 94, 0;
    --secondaryColor: #8333C6;
    --secondaryColorWeight: #5A1F8C;
    --secondaryColorWeightRGB: 90, 31, 140;

    --borderBoardVerify: 208, 198, 171; // #D0C6AB
    --borderBoardTarjetonVerify: 240, 227, 255; // #F0E3FF

    --backgroundApp: #FEF7FF;


    // INPUTS
    --colorInputs: #CD91FF;

    --grayBordersSections: #E5E7EB;
    --grayBorders: #EBDCFF;

    // BACKGROUNDS
    --bgInfoSections: 139, 240, 136;
    --bgKeyboard: #F5EAFF;
    --bgActualRoom: #B96CFD;
    --bgItemsBingoBalls: #F9F0FF;
    --bgCardGameBoard: #28AAE0;
    --bgCellsItemsBoard: #d9d9d9;

    // COLORS
    --whiteColor: #FFFFFF;
    --blackColor: #000000;
    --greenColor: #006E1C;

    // TEXTOS
    --colorText: #4D4732;
    --colorTextWeight: #705D00;
    --colorTitles: #231043;
    --colorTextSecondaryWeight: #41006F;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'FontWeb', sans-serif;
    background-color: var(--backgroundApp);
}


// FORMS
.form_group {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 10px 0;
    label {
        font-weight: bold;
        font-size: 14px;
        color: var(--secondaryColor);
    }
    input {
        border: 2px solid var(--colorInputs);
        border-radius: 6px;
        height: 45px;
        padding-left: 15px;
        font-family: 'FontWeb', sans-serif;
    }
    
}


// BUTTONS
.btn {
    height: 60px;
    border-radius: 9999px;
    border: 0;
    text-transform: uppercase;
    font-size: 24px;
    cursor: pointer;
}
.primary_button {
    padding: 0 20px;
    position: relative;
    font-weight: 600;
    color: var(--primaryColorWeight);
    background-color: var(--primaryColor);
    -webkit-box-shadow: 0px 4px 0px 0px var(--colorTextWeight); 
    box-shadow: 0px 4px 0px 0px (--colorTextWeight);
}
.secondary_button {
    padding: 0 20px;
    position: relative;
    font-weight: 600;
    color: var(--whiteColor);
    background-color: var(--secondaryColor);
    -webkit-box-shadow: 0px 4px 0px 0px var(--secondaryColorWeight); 
    box-shadow: 0px 4px 0px 0px var(--secondaryColorWeight);
}


// ITEMS BOARD BINGO
.correct {
  border: 5px solid rgba(13, 154, 85, 1) !important;
  background-color: rgb(54, 216, 138) !important;
}
.incorrect {
  border: 5px solid rgba(208, 31, 30, 1) !important;
  background-color: rgb(238, 80, 80) !important;
}
.in-playing {
  border: 5px solid rgb(202, 153, 6) !important;
  background-color: rgb(243, 212, 118) !important;
}