<app-header></app-header>

<div class="content_lobby">

    <div class="section_code_room">
        <p class="text_room">Código de la sala</p>
        
        <div class="section_code">
            <h2 class="code">#{{ room.id }}</h2>
            <button class="btn primary_button">Copiar</button>
        </div>
    </div>

    <div class="section_tarjeton_card_asigned">
        <div class="header_card_assigned">
            <h2 class="title_card_asigned">Tu tarjetón asignado</h2>

            <img src="assets/icons/refresh.svg" (click)="generateBingoBoard()" alt="Icono refrescar tarjetón">
        </div>

        <app-tablero-bingo [isViewLetters]="false" [isBoardDisabled]="true"></app-tablero-bingo>
    </div>

    <div class="section_players_lobby">
        <div class="header_players_lobby">
            <h3 class="title_header_players">Jugadores en la sala</h3>

            <p class="players_online">{{ playersOnline.length }} Conectados</p>
        </div>

        <div class="section_all_players_online">
            @for (player of playersOnline; track $index) {
                <div class="player_account">
                    <div class="img_profile"></div>
                    <p class="player_name">{{ player.name }}</p>
                </div>
            }
        </div>
    </div>

    @if (player.isHost) {
        <div class="actions_buttons">
            <button class="btn primary_button" (click)="goToPlay()">
                <span>Iniciar juego</span>
                <img class="icon_right" src="assets/icons/arrow-right.svg" alt="Icono flecha a la derecha">
            </button>
        </div>
    } @else {
        <div class="section_waiting_host">
            <div class="message_waiting_host">
                <div class="connected"></div>
                <p class="message">Esperando al Host para iniciar...</p>
            </div>
        </div>
    }
</div>